.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}
.data-box {
  /* width: 20%;
  min-width: 200px; */
  border: 1px solid gray;
  border-radius: 10px;
  padding:  20px 20px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.data-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.user-circle {
  border-radius: 50%;
  background-color: antiquewhite;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-content p {
  margin: 0px;
  font-weight: 500;
  color: gray;
}
.user-content h2{
    margin: 0;
}